<div class="row">
	<div class="col-lg-6 col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">Person</div>
			<div class="panel-body">
				<p><img id="planet" src="../images/planets/<%= @birth_path_num %>.png"/><b>Name:</b>&nbsp;<%= @person.first_name %>&nbsp;<%= @person.last_name %><br/>
				   <b>Birthdate:</b>&nbsp;<%= @person.birthdate.strftime("%m/%d/%Y") %><br/>
				<div class="divider"></div>
				   <br/>Your numerology number is <%= @birth_path_num %></p>
				<br/><br/>
				<p><%= @message %></p>
			</div>
		</div>
	</div>
</div>